//CSS variables to store recurring colors

$color-primary:#fff;
$color-secondary: #0B3C4C;
$color-tertiary: #13647F;

$bg-transparent: rgba(0, 0, 0, .7);

//CSS variable for fonts
$font-stack: 'Roboto', sans-serif;


html { 
    background: url(../img/bwm-bg-img-1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//HEADER STYLES
.header {
    background-color: $bg-transparent;
    border-radius: 8px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #nav-logo {
        width: 50vw;
        height: auto;
    }
}

//NAVBAR STYLES

.nav-container {
    background-color: $bg-transparent;
    border-radius: 8px;
    .links {
        display: flex;
        justify-content: space-evenly;
    }
    li {
        margin: .5em;
        padding: 1em;
        display: inline-block;
    }
    a {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.7em;
        font-family: $font-stack;
    }
    a:hover {
        color: $color-tertiary;
        text-decoration: underline;
    }
    
}


//GRID STYLES

// - home page
.mainContent-container {
    margin-top: .5em;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;


}

.content {
    background-color: $bg-transparent;
    border-radius: 8px;

    .hero {

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
}

// - coming soon
.headline {
    background-color: $bg-transparent;
    text-align: center;
    h2 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 2em;
        padding: 1em;
    }
}

.comingSoon-container {
    margin-top: .5em;
}

.comingSoon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;
    
}

.content-cs {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;

    #band-img{
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h2 {
        font-family: $font-stack;
        color: $color-primary;
    }
    p {
        font-family: $font-stack;
        color: $color-primary;
        padding: .2em;
    }
    iframe {
        border-radius: 8px;
    }
}

// - links
.headline {
    background-color: $bg-transparent;
    text-align: center;
    h2 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 2em;
        padding: 1em;
    }
}

.links-container {
    margin-top: .5em;
}

.bandLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;
    
}

.content-links {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;
    padding-bottom: .5em;

    h2 {
        font-family: $font-stack;
        font-size: 3em;
        color: $color-primary;
    }

    p {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1.5em;
        padding: .2em;
    }
    
    .insta {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .song {
        display: flex;
        align-items: center;
        justify-content: center;

        iframe {
            border-radius: 3px;
            width: 80%;
        }
    }
    .tweet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}




//footer styles

.footer {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;
    
    p {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1.7em;
    }
    
    a {
        text-decoration: none;
        color: $color-primary;
        font-family: $font-stack;
    }

    a:hover {
        color: $color-tertiary;
        text-decoration: underline;
    }
}