//CSS variables to store recurring colors

$color-primary:#fff;
$color-secondary: #0B3C4C;
$color-tertiary: #13647F;

$bg-transparent: rgba(0, 0, 0, .7);

//CSS variable for fonts
$font-stack: 'Roboto',
sans-serif;


html {
    background: url(../img/bwm-bg-img-1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//HEADER STYLES
.header {
    background-color: $bg-transparent;
    border-radius: 8px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-logo {
        width: 50vw;
        height: auto;
    }
}

//NAVBAR STYLES

.nav-container {
    background-color: $bg-transparent;
    border-radius: 8px;

    .links {
        text-align: center;
    }

    li {
        margin: .5em 2.5em;
        padding: .5em;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-size: 1.7em;
        font-family: $font-stack;
    }

    a:hover {
        color: $color-tertiary;
        text-decoration: underline;
    }

}


//GRID STYLES

// - home page
.mainContent-container {
    margin-top: 3em;
    margin-bottom: 5em;
}

.mainContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;
}

.content {
    background-color: $bg-transparent;
    border-radius: 8px;

    .hero {

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
}

// - coming soon
.headline {
    background-color: $bg-transparent;
    text-align: center;
    border-radius: 8px;

    h1 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 3em;
        padding: .5em;
    }
}

.comingSoon-container {
    margin-top: 3em;
    margin-bottom: 5em;
}

.comingSoon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;

}

.content-cs {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;
    padding: 2em;

    #band-img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h2 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1.5em;
    }

    p {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1em;
        padding: .2em;
    }
}

// - links
.headline {
    background-color: $bg-transparent;
    text-align: center;
    border-radius: 8px;

    h1 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 3em;
        padding: .5em;
    }
}

.links-container {
    margin-top: 3em;
    margin-bottom: 5em;
}

.bandLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;

}

.content-links {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;
    padding-bottom: .5em;

    h2 {
        font-family: $font-stack;
        font-size: 2em;
        color: $color-primary;
    }

    p {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1.5em;
        padding: .2em;
    }

    .insta {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .song {
        display: flex;
        align-items: center;
        justify-content: center;

        iframe {
            border-radius: 3px;
            width: 80%;
        }
    }

    .tweet {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

// -video
.headline {
    background-color: $bg-transparent;
    text-align: center;

    h1 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 3em;
        padding: 1em;
    }
}

.video-container {
    margin-top: 3em;
    margin-bottom: 5em;
}

.video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    margin: .5em;
    padding: .5em;
    border-radius: 8px;

}

.video-content {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;

    h2 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 2em;
    }

    p {
        font-family: $font-stack;
        color: $color-primary;
        padding: .2em;
    }

    .clip-container {
        padding: 1.5em;

        .clip {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
    }
}

// - contact

.headline {
    background-color: $bg-transparent;
    text-align: center;

    h1 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 3em;
        padding: 1em;
    }
}
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 1em;

    .contact-form {
        width: 50vw;
        background-color: $bg-transparent;
        border-radius: 8px;
        padding: 3em 1em;
        display: block;
        text-align: center;
    
        .fname,
        .lname,
        .email {
            width: 40vw;
            padding: 1.2em 1em;
            border-radius: 5px;
            font-family: $font-stack;
            font-size: 1em;
            border: none;
        }

        .comment {
            width: 40vw;
            height: 10vh;
            padding: 1.2em 1em;
            border-radius: 5px;
            font-family: $font-stack;
            font-size: 1em;
            margin-top: 1em;
            resize: none;
            border: none;
        }

        .label-radio {
            font-family: $font-stack;
            font-size: 1em;
            color: $color-primary;
        }

        .reason {
            width: 20vw;
            height: 3vh;
            border: none;
            border-radius: 5px;
            margin-top: 1em;
        }

        .btn {
            width: 10vw;
            height: 4vh;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: $font-stack;
            font-size: 1.2em;
            background-color: $color-primary;
        }

        .btn:hover {
            width: 10vw;
            height: 4vh;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: $font-stack;
            font-size: 1.2em;
            background-color: $color-tertiary;
        }

        p {
            font-family: $font-stack;
            color: $color-primary;
            padding: .2em;
        }
    }
}

// - form-process

.back-home-container {
    background-color: $bg-transparent;
    margin: 2em 2em;
    text-align: center;
    padding: 2em 1em;
    border-radius: 8px;

    h1 {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 3em;
    }

    .back-home-btn {
        background-color: $color-primary;
        border: none;
        font-family: $font-stack;
        font-size: 1.2em;
        cursor: pointer;
        padding: 1em;
        border-radius: 5px;    
    }

    .back-home-btn:hover {
        background-color: $color-tertiary;
        border: none;
        font-family: $font-stack;
        font-size: 1.2em;
        cursor: pointer;
        padding: 1em;
        border-radius: 5px; 
    }
    
}







//footer styles

.footer {
    background-color: $bg-transparent;
    border-radius: 8px;
    text-align: center;
    margin-top: 1em;
    padding: 1em;

    p {
        font-family: $font-stack;
        color: $color-primary;
        font-size: 1.7em;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        font-family: $font-stack;
    }

    a:hover {
        color: $color-tertiary;
        text-decoration: underline;
    }
}




















//MEDIA QUERIES

@media only screen and (max-width: 800px) {
    .header {
        background-color: $bg-transparent;
        border-radius: 8px;
    
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #nav-logo {
            width: 40vw;
            height: auto;
        }
    }
    
    //NAVBAR STYLES
    
    .nav-container {
        background-color: $bg-transparent;
        border-radius: 8px;
    
        .links {
            text-align: center;
        }
    
        li {
            margin: 1em 1em;
            padding: 1em;
            display: block;
        }
    
        a {
            text-decoration: none;
            color: $color-primary;
            font-size: 1.5em;
            font-family: $font-stack;
        }
    
        a:hover {
            color: $color-tertiary;
            text-decoration: underline;
        }
    
    }


    // - coming soon
    .headline {
        background-color: $bg-transparent;
        text-align: center;
        border-radius: 8px;

        h2 {
            font-family: $font-stack;
            color: $color-primary;
            font-size: 1em;
            padding: .5em;
        }
    }

    .comingSoon-container {
        margin-top: 1em;
    }

    .comingSoon {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1%;
        margin-bottom: 5em;
        padding: 1em;
        border-radius: 8px;

    }

    .content-cs {
        background-color: $bg-transparent;
        border-radius: 8px;
        text-align: center;
        padding: 1em;

        #band-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        h2 {
            font-family: $font-stack;
            color: $color-primary;
        }

        p {
            font-family: $font-stack;
            color: $color-primary;
            padding: .2em;
        }
    }

    // - links
    .headline {
        background-color: $bg-transparent;
        text-align: center;
        border-radius: 8px;

        h2 {
            font-family: $font-stack;
            color: $color-primary;
            font-size: 2em;
            padding: 1em;
        }
    }

    .links-container {
        margin-top: 3em;
        margin-bottom: 20em;
    }

    .bandLinks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1%;
        margin: .5em;
        padding: .5em;
        border-radius: 8px;

    }

    .content-links {
        background-color: $bg-transparent;
        border-radius: 8px;
        text-align: center;
        margin-bottom: .5em;

        h2 {
            font-family: $font-stack;
            font-size: 3em;
            color: $color-primary;
        }

        p {
            font-family: $font-stack;
            color: $color-primary;
            font-size: 1.5em;
            padding: .2em;
        }

        .insta {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .song {
            display: flex;
            align-items: center;
            justify-content: center;

            iframe {
                border-radius: 3px;
                width: 80%;
            }
        }

        .tweet {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    // -video
    .headline {
        background-color: $bg-transparent;
        text-align: center;

        h2 {
            font-family: $font-stack;
            color: $color-primary;
            font-size: 2em;
            padding: 1em;
        }
    }

    .video-container {
        margin-top: 3em;
        margin-bottom: 15em;
    }

    .video {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 3%;
        
        padding: .5em;
        border-radius: 8px;

    }

    .video-content {
        background-color: $bg-transparent;
        border-radius: 8px;
        text-align: center;

        h2 {
            font-family: $font-stack;
            color: $color-primary;
        }

        p {
            font-family: $font-stack;
            color: $color-primary;
            padding: .2em;
        }

        .clip-container {
            padding: 1.5em;

            .clip {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;
                height: 0;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
            }
        }
    }

    .footer {
        background-color: $bg-transparent;
        border-radius: 8px;
        text-align: center;
        margin-top: .5em;
        padding: .5em;
    
        p {
            font-family: $font-stack;
            color: $color-primary;
            font-size: 1em;
        }
    
        a {
            text-decoration: none;
            color: $color-primary;
            font-family: $font-stack;
            font-size: .7em;
        }
    
        a:hover {
            color: $color-tertiary;
            text-decoration: underline;
        }
    }
}